# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Prisma
prisma/generated/

# Environment
.env
.env*.local

# Debug
npm-debug.log*

# Misc
*.tsbuildinfo
*.pem
.DS_Store

.agent/
